body {
    margin: 0;
    background: #E5E5E5;
}

main section#resultats div.carteRecette > div p,
main section#resultats div.carteRecette > div span.listeIngredients > div h4 {
    margin: 0;
}

header {
    background-image: url("img/headerBackGround.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 70px;
}

header h1 {
    color: #FFD15B;
    text-align: center;
    width: 50%;
    margin: auto;
    margin-top: 150px;
    font-family: 'Anton';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 66px;
}

header div.searchContainer {
    height: 50px;
    background-color: white;
    border-radius: 11px;
    padding: 10px;
    display: flex;
    width: 75%;
    margin: auto;
    margin-top: 50px;
    justify-content: space-between;
    max-width: 1440px;
}

header div.searchContainer input {
    border: none;
    outline: none;
    width: 80%;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #7A7A7A;
}

div.searchContainer input:placeholder-shown + img {
    display: none;
}

div.searchContainer img:hover {
    cursor: pointer;
}

div.searchContainer img.close {
    border-radius: 10px;
    padding: 10px;
    width: 17px;
    height: 17px;
    margin: auto;
    margin-right: 25px;
}

div.searchContainer img.loupe {
    background-color: black;
    border-radius: 10px;
    padding: 10px;
}

div.searchContainer img.loupe:hover {
    background-color: #FFD15B;
}

main {
    padding: 20px 102px;
    max-width: 1440px;
    margin: auto;
}

main section {
    display: flex;
    position: relative;
    flex-wrap: wrap;
}

main section#filtres div.dropdown {
    background: #FFFFFF;
    border-radius: 11px;
    margin-right: 25px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 15%;
    height: max-content;
}

main section#filtres div.dropdown:not(.hyde) {
    overflow: inherit;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

main section#filtres div.dropdown.hyde {
    max-height: 56px;
}

main section#filtres div.dropdown p {
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #1B1B1B;
    z-index: 1;
    margin: 0;
    padding: 16px;
}

main section#filtres div.dropdown img.displayListe {
    width: 15px;
    position: absolute;
    right: 15px;
    top: 23px;
}

main section#filtres div.dropdown:not(.hyde) img.displayListe {
    rotate: 180deg;
}

main section#filtres span.liste {
    margin-top: 54px;
    position: absolute;
    z-index: 10;
    display: block;
    background: #FFFFFF;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
    width: 100%;
}

main section#filtres span.liste div.searchContainer {
    height: 36px;
    margin: 0 15px;
    border: 1px solid grey;
    position: relative;
}

main section#filtres span.liste div.searchContainer img {
    padding: 5px;
    width: 18px;
    height: 18px;
    top: 5px;
    right: 10px;
    position: absolute;
    background-color: #fff0;
    filter: brightness(0) saturate(100%) invert(70%) sepia(0%) saturate(0%) hue-rotate(44deg) brightness(94%) contrast(95%);
}

main section#filtres span.liste div.searchContainer img.close {
    width: 13px;
    height: 13px;
    top: 6px;
    right: 15px;
}

main section#filtres span.liste div.searchContainer input {
    border: none;
    height: 95%;
    outline: none;
    width: 90%;
    vertical-align: top;
}

main section#filtres span.liste div.searchContainer input:placeholder-shown {
    width: 83%;
}

main section#filtres span.liste ul {
    list-style-type: none;
    padding-left: 0;
}

main section#filtres span.liste ul li {
    padding: 10px 0 10px 15px;
    cursor: pointer;
}

main section#filtres span.liste ul li img {
    float: right;
    margin-right: 25px;
}

main section#filtres span.liste ul.unselected li img {
    display: none;
}

main section#filtres span.liste ul.selected li img {
    display: block;
}

main section#filtres span.liste ul li.hyde {
    display: none;
}

main section#filtres span.liste ul li:hover {
    background: #FFD15B;
}

main section#filtres p#nbResultats {
    font-size: 21px;
    font-family: "Anton";
    color: #1B1B1B;
    position: absolute;
    right: 0;
}

main section#filtres div#tagList {
    width: 100%;
    padding-top: 20px;
    display: inline-block;
}

main section#filtres div#tagList span {
    border-radius: 10px;
    background: #FFD15B;
    padding: 17px;
    color: #000;
    font-size: 14px;
    font-family: "Manrope";
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
    width: fit-content;
}

main section#filtres div#tagList span img {
    width: 13px;
    height: 13px;
    margin-left: 15px;
    filter: brightness(0) saturate(100%) invert(0%) sepia(0%) saturate(8%) hue-rotate(253deg) brightness(100%) contrast(100%);
    cursor: pointer;
    vertical-align: middle;
}

main section#resultats {
    flex-wrap: wrap;
    gap: 66px 48px;
    margin-top: 55px;
    justify-content: space-between;
}

main section#resultats div.carteRecette {
    display: flex;
    flex-direction: column;
    width: 30%;
    background: #FFFFFF;
    box-shadow: 0px 4px 34px 30px rgba(0, 0, 0, 0.04);
    border-radius: 21px;
    position: relative;
}

main section#resultats div.carteRecette > img {
    border-top-left-radius: 21px;
    border-top-right-radius: 21px;
    height: 250px;
    object-fit: cover;
}

main section#resultats div.carteRecette > p.time {
    background: #FFD15B;
    border-radius: 14px;
    width: fit-content;
    padding: 5px 10px;
    position: absolute;
    right: 22px;
    top: 21px;
}

main section#resultats div.carteRecette > div {
    padding: 25px;
    padding-bottom: 61px;
}

main section#resultats div.carteRecette > div h2 {
    font-family: 'Anton';
    font-weight: 400;
    font-size: 18px;
    color: #000000;
    margin: 30px 0;
}

main section#resultats div.carteRecette > div h3 {
    font-family: 'Manrope';
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: #7A7A7A;
    margin: 15px 0;
}

main section#resultats div.carteRecette > div h3:last-of-type {
    margin-top: 30px;
}

main section#resultats div.carteRecette > div p.description,
main section#resultats div.carteRecette > div span.listeIngredients > div h4 {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #1B1B1B;
}

main section#resultats div.carteRecette > div span.listeIngredients > div h4 {
    font-weight: 500;
}

main section#resultats div.carteRecette > div span.listeIngredients {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 0;
}

main section#resultats div.carteRecette > div span.listeIngredients > div {
    width: 50%;
}

main section#resultats div.carteRecette > div span.listeIngredients > div p {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #7A7A7A;
}


/*description tronquée : */

main section#resultats div.carteRecette {
    max-height: 730px;
}

p.description {
    height: 76px;
    overflow: hidden;
}